img {
  display: block;
  max-width: 100%;
}

article {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-white);
}

.country__description {
  padding: 1rem;
}

.country__title {
  color: var(--primary-blue);
  text-decoration: none;
}

.country__text:not(:last-child) {
  margin-block-end: 0.5rem;
}
